@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @Html.Hidden("IsAuth", User.Identity.IsAuthenticated)
    <div class="col-md-6">
        <div id="StockResults"></div>
    </div>
    <div class="col-md-6">
        <div id="WalletResults"></div>
    </div>
</div>
